:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Turn scrollbar green */
/* WebKit */
::-webkit-scrollbar {
	width: 7px;
	background-color: #f0f0f0; /* Change to your website's background color */
}

::-webkit-scrollbar-thumb {
	background-color: green; /* Change to the desired color */
	border-radius: 10px;
	height: 10px; /* Change to the desired border radius */
}

/* Edge and IE */
/* Note that the color and border-radius properties are reversed */
* {
	scrollbar-color: green #f0f0f0; /* Change to the desired color and background color */
	scrollbar-width: thin;
}

*::-ms-scrollbar {
	width: 10px;
	background-color: #f0f0f0; /* Change to your website's background color */
}

*::-ms-thumb {
	background-color: green; /* Change to the desired color */
	border-radius: 10px; /* Change to the desired border radius */
}
