:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Turn scrollbar green */
/* WebKit */
::-webkit-scrollbar {
  width: 7px;
  background-color: #F0F0F0; /* Change to your website's background color */
}

::-webkit-scrollbar-thumb {
  background-color: green; /* Change to the desired color */
  border-radius: 10px;
  height: 10px; /* Change to the desired border radius */
}

/* Edge and IE */
/* Note that the color and border-radius properties are reversed */
* {
  scrollbar-color: green #F0F0F0; /* Change to the desired color and background color */
  scrollbar-width: thin;
}

*::-ms-scrollbar {
  width: 10px;
  background-color: #F0F0F0; /* Change to your website's background color */
}

*::-ms-thumb {
  background-color: green; /* Change to the desired color */
  border-radius: 10px; /* Change to the desired border radius */
}

@font-face {
  font-family: 'Italiana';
  src: url('/node_modules/@fontsource/italiana/files/italiana-latin-400-normal.woff2') format('woff2');
}